@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: auto;
    overscroll-behavior: none;
}

a {
    text-decoration-skip-ink: none;
    @apply font-normal underline decoration-solid decoration-[#ffd700] underline-offset-2 decoration-1 lg:decoration-2;
}
