.researchinterest li {
    margin-left: 0.2rem;
}
.researchinterest li::after {
    content: ", ";
}
.researchinterest li:first-child {
    margin-left: 0;
}
.researchinterest li:last-child::after {
    content: "";
}

.paperlist li::marker {
    font-size: 0.625rem;
}
@media (min-width: 768px) {
    .paperlist li::marker {
        font-size: 0.75rem;
    }
}

.link {
    font-weight: bolder;
    text-decoration-style: solid;
    text-decoration-color: gold;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: none;
    text-underline-offset: 2px;
}
